html{
  font-size:$base-font-size;
}

body{
  font-family: $base--font;
  background: white;

  p{
    font-size:u(1.1rem);
    line-height: u(2.1rem);
    color:$text--color;
  }
}

a,a:hover{
  text-decoration: none;
  color:$color--primary;
}

a:focus,button:focus{
  outline:none;
  text-decoration:none;
}

html,
body,
.main--wrap__view-container,
#content,
.main-wrapp,
.content-wrap {
  @include full-height--overflow;
}

.text-content{
  background: $background--color;
  padding-bottom:60px;
  overflow-y:scroll;

  margin:{
    left:u(2rem);
    right:u(2rem);
  }

  @include breakpoint($breakpoint-narrow){
    max-width:$max-width;
    margin:auto;
  }

}

.content-wrap {
  background:$background--color;
  position:relative;
  z-index:10;

  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;

  .content-wrap__content {
    position: relative;
    background: $computer-mockup--background-color;
  }

  /* Overlay */
  .content-wrap__content::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    -webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
    transition: opacity 0.3s, transform 0s 0.3s;
  }
}


