@import "./../base/_settings";
@import "./../base/_colors";
@import "./../base/_typography";
@import "./../base/_mixins";
@import "./../base/_breakpoints";
@import "./../base/_base";
@import "./../base/_buttons";

html{
  font-size:$base-font-size;
}

img {
  max-width: 100%;
  height: auto;
}

body{
  font-family: $base--font;
  background: white;
}

p{
    font-size:u(1.1rem);
    line-height: u(2.1rem);
    color:$text--color;
}

a,a:hover{
  text-decoration: none;
  color:$color--primary;
}

a:focus,button:focus{
  outline:none;
  text-decoration:none;
}

html,
body {
  @include full-height--overflow;
}

.blog-app{
  background: $background--color;
  padding-bottom:60px;
  overflow-y:scroll;
  font-family: $base--font;
  font-size:u(1rem);
  line-height: u(2.1rem);
  @include transition(all 0.5s ease);

  margin: {
    left:u(2rem);
    right:u(2rem);
    top: 60px;
  }

  @include breakpoint($breakpoint-narrow){
    max-width:$max-width;
    margin:auto;
    margin-top: 60px;
  }

  &.shiftLeft {
    @include breakpoint($breakpoint-narrow){
      //@include transform(translate(180px,0));
      margin-left: 400px;
    }
  }

  &.shiftLeft .about {
    left: 300px;
    margin-left: 0;
  }

}