@import "./../../../css/base/_settings";
@import "./../../../css/base/_breakpoints";
@import "./../../../css/tools/vertical_rythm";

.blog_item{
  text-align:left;
  margin-bottom:u(8rem);
  @include breakpoint($breakpoint-narrow){
    max-width:700px;
    margin: {
      left:auto;
      right:auto;
    }
  }

  h2{
    margin-bottom:u(2rem);
  }

  h1{
    margin-bottom:u(3rem);
  }
  .post-body{
    margin:u(2rem) auto;
  }

  .comments {
    margin:u(2rem) auto;
  }

  .blog-item__image img{
    max-width:100%;
    height:auto;
  }
  
  .full-post {
    text-align: center;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
  }

}