/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Admin theme
Version:	1.1
Ownership:  Joao Garin

-------------------------------------------------------------------*/
$base--font:'Droid Serif', serif;
$headings-font: 'Source Sans Pro', sans-serif;
$base-font-size:16px;
$base-line-height:20px;
$max-width:1120px;

/************************************
Extra components
*************************************/

@import "../../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../../../bower_components/font-awesome/scss/variables";

/************************************
Tools
*************************************/

@import "tools/vertical_rythm";
@import "tools/font-icons";

/************************************
BASE CSS
*************************************/

@import "base/breakpoints";
@import "base/colors";
@import "base/css3_mixins";
@import "base/mixins";
@import "base/typography";
@import "base/buttons";
@import "base/base";

/************************************
LAYOUT
*************************************/

@import "layout/page";
@import "layout/sidebar";
@import "layout/top_menu";


/************************************
MODULES
*************************************/

@import "modules/blog_intro/blog_intro";
@import "modules/blog_items/blog_items_item";
@import "modules/loading/loading";
