@import "./_css3_mixins";
@import "./_colors";

@mixin button(){
  background-image: none;
  @include border-radius(0px);
  border:none;
  padding: {
    bottom:u(0.8rem);
    top:u(0.8rem);
    left:u(2.5rem);
    right:u(2.5rem);
  };
  @include box-shadow(0px 0px 0px 0px);
  text-transform: uppercase;
  font-size: u(0.8rem);
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

@mixin button--primary(){
  background:$menu--background-color;
  border:1px solid $menu--background-color;
  color:$background--color;
}

.btn{
  @include button();

}

.btn-primary{
  @extend .btn;

  @include button--primary();
}

.btn-primary:hover,.btn-primary:focus{
  background:$button-color--primary;
  border-color:$button-color--primary;
  border:1px solid $button-color--primary;
  color:white;
}
