/*
* Background color for the theme
*/
$background--color: #fff;

/*
* Menu color
*/
$menu--background-color: #36bd8e;

/*
* Background for the computer mockup
*/
$computer-mockup--background-color: #333;

/*
* Body text color
*/
$text--color: #333333;

/*
* Primary color
*/
$color--primary:#36bd8e;

/*
* Color normal grey
*/
$color--grey:#C5C5C5;

/*
* Color grey light
*/
$color--grey-light:#e5e5e5;

/*
* Color grey dark
*/
$color--grey-dark:#333;

/*
* Button primary color
*/
$button-color--primary:#373C43;